# --- Core Django & API ---
Django==4.2.11
djangorestframework==3.14.0
django-cors-headers==4.3.1
drf-spectacular==0.27.1

# --- Base de Datos & Configuración ---
# psycopg2-binary==2.9.9  <-- COMENTADO: Usaremos la versión del sistema (python3-psycopg2)
python-decouple==3.8

# --- Asincronía & Cache (Celery + Redis) ---
celery==5.3.6
redis==5.0.3
django-redis==5.4.0

# --- Procesamiento de Archivos & Datos ---
openpyxl==3.1.2
# pdfplumber==0.10.3      <-- COMENTADO: Evita error de compilación de Criptografía
# pytesseract==0.3.10     <-- COMENTADO: Usaremos versión del sistema si es necesario
ftfy==6.1.3
# plotly==5.18.0          <-- COMENTADO: Evita compilación pesada

# --- Servidor de Producción ---
gunicorn==21.2.0
whitenoise==6.6.0